<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067309750693-grdofe0c0qdgpahi1g7b2bgt0puhoj4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067309750693-grdofe0c0qdgpahi1g7b2bgt0puhoj4r</string>
	<key>API_KEY</key>
	<string>AIzaSyA5DOTG1pjIjG_IhS2FbAhHulePUP4DxTA</string>
	<key>GCM_SENDER_ID</key>
	<string>1067309750693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>testidentifier.Infrastruct</string>
	<key>PROJECT_ID</key>
	<string>infrastruct-d9abb</string>
	<key>STORAGE_BUCKET</key>
	<string>infrastruct-d9abb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067309750693:ios:0282ea3d9cb0af7f9d704c</string>
</dict>
</plist>